
.trailerBg{
  width: 100vw;
  height: 100vh;

}
.iframe{
  width: 100vw;
  aspect-ratio: 16/9;
  
}
.details {
  position: absolute;
  color: white;
  right: 40%;
  top: 40%;
  left: 10%;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    black 100%
  );
  padding: 10px;
}

.name {
  font-size: 100px;
}


