.gpt-container {
  background-image: url("https://u.cubeupload.com/shreha111/214492346484481.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
}
.bar {
  display: flex;
  justify-content: center;
}
