.logo {
  height: 200px;
  width: 200px;
}
.header{
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) , black 100%);
}
.logout{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
