.browse-container {
  background-image: url("https://u.cubeupload.com/shreha111/214492346484481.jpg");
  background-size: 100%;
  height: 100%;
  width: 102%;
  overflow-y: scroll;
  background-repeat: repeat;
}
